<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container center">
        <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} BeePaste All rights reserved by <a href="https://vahedinia.me/">MohammadAmin Vahedinia</a>
    </div>
  </div>
</footer>
