<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website"/>
    {% if description: %}
        <meta name="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta name="twitter:description" content="{{ description }}">
    {% else: %}
        <meta name="description" content="Yet another secure pastebin with encryption!">
        <meta property="og:description" content="Yet another secure pastebin with encryption!">
        <meta name="twitter:description" content="Yet another secure pastebin with encryption!">
    {% endif %}
    <meta name="author" content="BeePaste">
    <meta name="twitter:creator" content="@MrC0de">

    <link rel="shortcut icon" href="{{request.static_url('beepaste:static/img/icon.png')}}">
    <meta property="og:image" content="{{request.static_url('beepaste:static/img/beepaste-sq.png')}}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="BeePaste - A Free Pastebin!">
    <meta name="twitter:title" content="{{ title }}">

    <link href="{{request.static_url('beepaste:static/css/style.css')}}" rel="stylesheet" media="screen,projection">
    <link href="{{request.static_url('beepaste:static/css/font-awsome.css')}}" rel="stylesheet">
  </head>

  <body style="background: none;">
      <script type="text/javascript" src="{{request.static_url('beepaste:static/js/jquery.min.js')}}"></script>
      <script type="text/javascript" src="{{request.static_url('beepaste:static/js/materialize.min.js')}}"></script>

      {% block content %}
      {% endblock %}
  </body>
</html>
