<nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo"><i class="fa fa-terminal" aria-hidden="true"></i> BeePaste</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{ panel('menu') }}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {{ panel('menu') }}
      </ul>
    </div>
</nav>
